# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDE specific files
.vscode

# Ignore the data folder where the server will store its data
croissant_flow_data